<div class="container">
    <p>Home > Gift Cards</p>

</div>
<div class="one">
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active" width="100%" height="285px"
                style="background-color:palevioletred;border-radius: 10px;">
                <img [src]="coffee" style="height:285px;">
                <div class="carousel-caption" style="color:black">
                    <p>Beat The Heat With</p>
                    <h3>Bottled Frappuccino</h3>
                    <p>Buy any one Bottled Frappuccino & get Flat 50% off on the Second bottle of any variants offer
                        applicable at the check out</p>
                    <p> For</p>
                    <p style="font-weight: bolder;">M.R.P:355.oo</p>
                    <button class="btn btn-success" [routerLink]="['/order']">Order Now</button>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<DIV CLASS="container">
    <h3>Anytime</h3>

</DIV>
<hr>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card ">
            <img [src]="india" class="card-img-top" alt="Image 1">
            <div class="card-body">
                <h5 class="card-title">India Exclusive</h5>
                <p class="card-text"><small>Bring in the festive season and make each celebration into memorable</small>
                </p>
                <button class="btn btn-success" type="submit" [routerLink]="['/order']">add item</button>
            </div>
        </div>
        <div class="card">
            <img [src]="two" class="card-img-top" alt="Image 2">
            <div class="card-body">
                <h5 class="card-title">Starbucks Coffee</h5>
                <p class="card-text"><small>Starbucks is best when shared. Treat your pals to a good cup of
                        coffee..</small></p>
                <button class="btn btn-success" type="submit" [routerLink]="['/order']">add item</button>
            </div>
        </div>
        <div class="card">
            <img [src]="green" class="card-img-top" alt="Image 3">
            <div class="card-body">
                <h5 class="card-title">Starbucks</h5>
                <p class="card-text"><small> Take the moment and make it special appreciation with this Starbucks Gift
                        Card.</small></p>
                <button class="btn btn-success" type="submit" [routerLink]="['/order']">add item</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h3>Congratulations</h3>

</div>
<hr>
<br>
<div class="container">
    <div class="card-deck" style="height:400px;width: 446px;">
        <div class="card">
            <img [src]="congrats" class="card-img-top" alt="Card 1 Image">
            <div class="card-body">
                <h5 class="card-title">Congrats</h5>
                <p class="card-text"><small>Coffee. Cheer. Celebrate. Enjoy each of your special moments with
                        Starbucks</small></p>
                <button class="btn btn-success" type="submit" [routerLink]="['/order']">add item</button>
            </div>
        </div>


    </div>


</div>
<br>
<br>
<br>
<div class="container">
    <h3>Thank You</h3>

</div>
<hr>
<br>
<DIV class="container">
    <div class="card-deck" style="height:400px;width: 446px;">
        <div class="card">
            <img [src]="thank" class="card-img-top" alt="Card 2 Image">
            <div class="card-body">
                <h5 class="card-title">Thank You</h5>
                <p class="card-text"><small>To the people who make coffee and those who love it, thank you.</small></p>
                <button class="btn btn-success" type="submit" [routerLink]="['/order']">add item</button>
            </div>

        </div>

    </div>

</DIV>
<br>
<br>
<br>
<app-mainfooter></app-mainfooter>