<div class="container">
  <h2>Pay here</h2>
  <form>
    <div class="form-group">
      <label for="cardNumber">Card Number</label>
      <input type="text" class="form-control" id="cardNumber" placeholder="Enter card number">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="expiryDate">Expiry Date</label>
        <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY">
      </div>
      <div class="form-group col-md-6">
        <label for="cvv">CVV</label>
        <input type="text" class="form-control" id="cvv" placeholder="Enter CVV">
      </div>
    </div>
    <div class="form-group">
      <label for="cardHolderName">Cardholder Name</label>
      <input type="text" class="form-control" id="cardHolderName" placeholder="Enter cardholder name">
    </div>
    <div class="form-group">
      <label for="billingAddress">Billing Address</label>
      <input type="text" class="form-control" id="billingAddress" placeholder="Enter billing address">
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="text" class="form-control" id="amount" placeholder="Enter payment amount">
    </div>
    <button type="submit" (click)="greet()" class="btn btn-primary">Pay Now</button>
  </form>
</div>
