<footer class="bg bg-light">
    <div class="container">
        <div class="row" style="padding-top: 30px;">
            <p style="font-size: smaller;">An average active adult requires 2,000 kcal energy per day, however, calorie needs may vary.</p>
            <i class="bi bi-info-circle-fill" style="color: lightskyblue;"></i>
            <p style="font-size: smaller;">FSSAI License No.</p>
            
        </div>

    </div>

 </footer>
