<div class="container">
    <p>Home > order</p>

</div>
<div id="one">
    <app-search></app-search>

</div>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h5>Wholebeans</h5>
    <p>Exclusive range of coffee beans roasted to perfection.</p>
    <div class="card-deck">
        <div class="card">
            <img [src]="best1" class="card-img-top" alt="best1">
            <div class="card-body">
                <h5>Tribute Blend</h5>

                <p><small>Tribute blend is a tribute to accomplishments of coffee prod...</small></p>
                <p style="font-weight:bolder;">₹ 1400.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best2" class="card-img-top" alt="best2">
            <div class="card-body">
                <h5>Blonde roast 125 Gms</h5>

                <p><small>A unique blend tailor made to bring out the lighter side of ....</small></p>
                <p style="font-weight:bolder;">₹ 375.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best3" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Blonde Roast-250 Grams</h5>

                <p><small>A unique blend tailor made to bring out the lighter side of ...</small></p>
                <p style="font-weight:bolder;">₹ 750.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best4" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Espresso Roast-250 Grams</h5>

                <p><small>Intense, caramelly sweet and perfect with steamed milk. Deli...</small></p>
                <p style="font-weight:bolder;">₹ 580.00
                    <button class="btn btn-secondary" style="float: right;">Add Item</button>
                </p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="best5" class="card-img-top" alt="best1">
            <div class="card-body">
                <h5>India Estates Blend</h5>

                <p><small>Cultivated in Karnataka in harmony with nature, the lush and...</small></p>
                <p style="font-weight:bolder;">₹ 1100.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best6" class="card-img-top" alt="best2">
            <div class="card-body">
                <h5>Italian Roast</h5>

                <p><small>This coffee gets its distinctive sweetness from the way it i...</small></p>
                <p style="font-weight:bolder;">₹ 1100.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best7" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Kenya</h5>

                <p><small>Beloved, like the elephant that symbolizes it. Bold, like th...</small></p>
                <p style="font-weight:bolder;">₹ 1100.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best8" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Sumatra</h5>

                <p><small>It has a full, buttery body with virtually no acidity, so th...</small></p>
                <p style="font-weight:bolder;">₹ 1100.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="best9" class="card-img-top" alt="best1">
            <div class="card-body">
                <h5>Via - Columbia</h5>

                <p><small>"This Colombian marvel erupts on the palate with a juicy feel....</small></p>
                <p style="font-weight:bolder;">₹ 650.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best10" class="card-img-top" alt="best2">
            <div class="card-body">
                <h5>Via-Italian Roast</h5>

                <p><small>Now you can enjoy our bold and roasty-sweet Italian Roast in...</small></p>
                <p style="font-weight:bolder;">₹ 650.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="best11" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Espresso Roast-125 Grams</h5>

                <p><small>Intense, caramelly sweet and perfect with steamed milk. Deli...</small></p>
                <p style="font-weight:bolder;">₹ 290.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card" style="border: none;">


        </div>

    </div>

</div>
<br>
<br>
<br>
<app-footer></app-footer>