<nav class="navbar navbar-expand-md bg-light navbar-success" >
    <ul class="navbar-nav">
       
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bestseller']">Bestseller</a>
       </li>

       <li class="nav-item">
        <a class="nav-link"></a>
       </li>
       <li class="nav-item">
        <a class="nav-link">|</a>
       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/drinks']">Drinks</a>

       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
       </li>
       <li class="nav-item">
        <a class="nav-link">|</a>
       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/food']">Food</a>

       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link">|</a>
       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
       </li>
       <li class="nav-item">
        <a class="nav-link"[routerLink]="['/merchandise']">Merchandise</a>

       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link">|</a>
       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/coffee']">Coffee At Home </a>

       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link">|</a>
       </li>
       <li class="nav-item">
        <a class="nav-link"></a>
       </li>
       <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/readytoeat']">Ready to Eat</a>

       </li>


    </ul>
    </nav>
