<div class="container">
    <h2>Sign up</h2>
    <form class="was-validated">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter your name.</div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name=" email" placeholder="Enter your email" required>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter your email.</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        <div class="valid-feedback"></div>

        <div class="invalid-feedback">Please enter your password.</div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please enter your password.</div>
      </div>
      <p>Do you have account <a style="color:skyblue" [routerLink]="['/signin']">Sign here</a></p>
      <button type="submit" class="btn btn-primary"[routerLink]="['/signin']">Register</button>
    </form>
  </div>
