<div class="container">
    <p>Home > order</p>

</div>
<div id="one">
    <app-search></app-search>

</div>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h5>Sandwiches & Wraps</h5>
    <p>Signature breads made with fresh ingredients and in-house sauces..</p>
    <div class="card-deck">
        <div class="card">
            <img [src]="food1" class="card-img-top" alt="food1">
            <div class="card-body">
                <h5>Chilli Cheese Toast</h5>

                <p><small>Cheesy and fiery snack on a toasted French-style baguette, t...</small></p>
                <p style="font-weight:bolder;">₹ 346.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food2" class="card-img-top" alt="food2">
            <div class="card-body">
                <h5>Murgh Kathi Wrap</h5>

                <p><small>Spicy melange of chicken, onion, peppers and cheddar cheese...</small></p>
                <p style="font-weight:bolder;">₹ 362.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food3" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Vegan Sausage</h5>

                <p><small>A hearty and appetizing vegan sausage mixed in a spiced toma...</small></p>
                <p style="font-weight:bolder;">₹ 388.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food4" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Vegan Croissant Bun</h5>

                <p><small>Bite into this vegan patty with tomatoes, sautéed veggies an...</small></p>
                <p style="font-weight:bolder;">₹ 388.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="food5" class="card-img-top" alt="food1">
            <div class="card-body">
                <h5>Kebab Wrap</h5>

                <p><small>Relish a vegan kebab, green peas hummus and pickled carrots ....</small></p>
                <p style="font-weight:bolder;">₹ 388.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food6" class="card-img-top" alt="food2">
            <div class="card-body">
                <h5> Sandwich in Panin</h5>

                <p><small>Freshly Assembled Sandwich A panini bread loaded with spinac....</small></p>
                <p style="font-weight:bolder;">₹ 414.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food7" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Chatpata Paratha</h5>

                <p><small>Tangy paneer and vegetable filling wrapped in spinach parath...</small></p>
                <p style="font-weight:bolder;">₹ 383.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food8" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Murgh Kathi Wrap</h5>

                <p><small>Spicy melange of chicken, onion, peppers and cheddar cheese ....</small></p>
                <p style="font-weight:bolder;">₹ 362.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="food9" class="card-img-top" alt="food1">
            <div class="card-body">
                <h5>Focaccia Sandwich</h5>

                <p><small>Freshly Assembled Sandwich A western styled chicken salad sa....</small></p>
                <p style="font-weight:bolder;">₹ 414.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food10" class="card-img-top" alt="food2">
            <div class="card-body">
                <h5>Spiced Paneer Sandwich</h5>

                <p><small>Freshly Assembled Sandwich An Indian masala paneer with toma....</small></p>
                <p style="font-weight:bolder;">₹ 399.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food11" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Pesto & Mozzarella </h5>

                <p><small>Freshly Assembled Sandwich A panini bread loaded with spinac.</small></p>
                <p style="font-weight:bolder;">₹ 414.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="food12" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Pistachio Éclair</h5>

                <p><small>A classic French style choux éclair filled with pistachio ga....</small></p>
                <p style="font-weight:bolder;">₹ 325.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>

</div>
<br>
<br>
<br>
<app-footer></app-footer>