.log{
  background-color: bisque;
  height:500px;
  background-image: url(src/assets/image/Starbucks_Corporation_Logo_2011.svg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  
}
.h2{ text-align: center;
margin-top: 180px;}
.align{text-align: center;}

  