<div class="container">
  
<p>Profile > Account</p>
</div>
<div class="log">
  <svg width="113" height="187" viewBox="0 0 113 187" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M51.5389 45.8393C56.9635 52.5302 46.3731 59.9257 40.796 60.3317C32.4857 60.9307 23.3556 58.7598 15.1001 55.3143C21.2949 61.0983 27.3304 67.3878 32.9405 74.0335C33.1716 74.1777 33.4028 74.3218 33.6339 74.466C34.1401 74.3045 34.6867 74.2403 35.3243 74.4271C47.8699 78.351 62.4277 72.7364 74.5931 79.0314C80.1133 81.9029 87.6635 93.9874 78.9359 98.1386C70.7243 102.057 59.7978 95.7465 52.455 92.182C49.2456 90.6242 46.1462 88.9185 43.0518 87.1771C55.1048 104.445 63.6011 123.59 64.7503 143.369C65.3431 153.517 60.308 161.836 50.7151 153.261C46.0392 149.074 45.8269 138.636 45.3562 133.071C44.3941 121.699 45.6034 108.097 41.2319 97.4016C40.8938 96.6024 40.907 95.8559 41.141 95.1972C39.0459 91.926 36.7604 88.7357 34.3948 85.6065C36.7715 93.0823 38.0156 100.973 38.0655 108.684C38.1199 118.185 33.9711 131.785 23.75 134.544C15.504 136.759 16.8905 121.869 17.2566 117.908C18.6287 103.253 21.1097 88.7464 20.515 73.9248C20.4724 72.9326 20.8066 72.1977 21.3571 71.7142C21.1198 71.0945 21.038 70.5163 21.2022 69.975C17.138 65.642 12.9238 61.4874 8.6199 57.5931C10.4261 67.521 9.70139 78.3842 6.93577 87.536C5.70726 91.6421 -3.82778 105.695 -9.28423 98.3236C-13.764 92.3218 -8.7253 81.5024 -6.57854 75.544C-4.08345 68.4876 -1.07623 61.6175 1.92607 54.7831C1.58695 53.6005 1.2078 52.4483 0.803683 51.3472C0.150715 51.0121 -0.252101 50.4223 -0.429371 49.7568C-4.85798 46.1177 -9.2659 42.7191 -13.5625 39.6839C-16.7486 37.4359 -13.6117 32.2282 -10.4056 34.461C-5.75215 37.7687 -0.967356 41.4246 3.81318 45.372C4.06892 45.3372 4.33977 45.323 4.61061 45.3088C5.46648 44.5608 6.65456 44.2641 7.90534 44.9443C14.0533 44.1675 20.6615 42.9119 26.7798 42.3496C33.3897 41.7332 46.4465 39.5997 51.5389 45.8393ZM34.595 54.0722C38.9055 54.6631 43.3449 54.7074 46.0941 50.8838C47.9135 48.345 43.2836 48.3817 41.5174 48.1901C33.4441 47.3277 25.5063 48.4754 17.5587 49.6946C23.092 51.8197 28.9448 53.3171 34.595 54.0722ZM67.9901 92.0993C69.8275 92.6849 76.0982 94.7925 76.5463 91.5371C77.5411 84.3108 67.6707 82.9601 62.8586 82.367C57.344 81.6688 51.5913 82.0484 45.9027 81.9631C52.981 86.0173 60.2788 89.648 67.9901 92.0993ZM51.0662 129.745C51.3728 133.899 51.8596 137.915 52.5723 141.983C52.7099 142.807 58.2562 153.952 58.8574 147.762C59.4828 141.266 57.3878 134.088 55.8468 127.833C54.5186 122.376 52.5384 116.968 50.137 111.624C50.6041 117.737 50.6451 123.95 51.0662 129.745ZM22.9317 126.425C23.1198 131.31 29.6939 120.665 30.3666 118.904C32.2254 114.126 32.1313 108.69 31.8775 103.631C31.5178 96.3481 29.6174 88.7976 26.6251 81.8868C26.6257 89.956 26.0652 98.3245 24.921 105.985C23.9 112.751 22.6583 119.557 22.9317 126.425ZM-4.19888 88.077C-4.65588 89.8342 -4.46978 93.9513 -5.73436 93.7619C-1.70984 94.3465 0.853868 86.6615 1.64475 84.0416C3.27641 78.6997 3.89695 72.2388 3.56971 65.8915C0.51324 73.1194 -2.27206 80.4609 -4.19888 88.077Z" fill="#EFCDBD"/>
    <path d="M22.0044 168.976L18.738 170.27C15.406 171.596 13.1033 174.979 12.8344 178.947L12.5867 182.579L11.6528 179.047C10.6349 175.197 7.72981 172.292 4.21158 171.595L0.756342 170.918L4.02434 169.641C7.35883 168.34 9.67231 164.991 9.96475 161.029L10.2053 157.801L11.0547 160.929C12.0945 164.768 15.0123 167.646 18.5356 168.317L22.0044 168.976Z" fill="#EFCDBD"/>
    </svg>
    <h2 class="h2">Welcome  to Starbucks</h2>
   <div class="align" [routerLink]="['/signup']"> <button class="btn btn-dark" >Login or Signup</button></div>
    
</div>
<div class="container">
  <h2>HELP CENTER</h2>
  

</div>
<hr>
<app-mainfooter></app-mainfooter>