<div class="container">
    <p>Home > order</p>

</div>
<div id="one">
    <app-search></app-search>

</div>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h5>Mugs</h5>
    <p>Artistic collection of ceramic mugs with acacia wood lids..</p>
    <div class="card-deck">
        <div class="card">
            <img [src]="mugs1" class="card-img-top" alt="mugs1">
            <div class="card-body">
                <h5>Ceramic Pink and White Mug - 295ml</h5>

                <p><small>Ceramic hand painted mug with glossy glaze interior and regu....</small></p>
                <p style="font-weight:bolder;">₹ 1500.00
                    <button class="btn btn-secondary" style="float: right;">Add Item</button>
                </p>

            </div>

        </div>
        <div class="card">
            <img [src]="mugs2" class="card-img-top" alt="mugs2">
            <div class="card-body">
                <h5>Savannah Animals Mug - 295ml</h5>

                <p><small>Mug with all over glossy finish and giraffe head ornament o....</small></p>
                <p style="font-weight:bolder;">₹ 2190.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="mugs3" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Green Ceramic Mug (355 Ml)</h5>

                <p><small>A contemporary mug comes with a faux feather sleeve with a c....</small></p>
                <p style="font-weight:bolder;">₹ 1600.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="mugs4" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Iconic Siren Demi Ceramic Mug (89 Ml)</h5>

                <p><small>An all white demi mug with the classic iconic siren logo wit...</small></p>
                <p style="font-weight:bolder;">₹ 600.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="container">
        <h5>Cups</h5>
        <p>Reusable Hot & Cold Cups that are perfect for beverages on the go..</p>
        <div class="card-deck">
            <div class="card">
                <img [src]="cups1" class="card-img-top" alt="mugs1">
                <div class="card-body">
                    <h5>Bling Yellow Cold Cup -709ml</h5>
                    <p><small>Yellow colored textured cold cup with elephant topper straw.....</small></p>
                    <p style="font-weight:bolder;">₹ 2200.00<button class="btn btn-secondary" style="float: right;">Add
                            Item</button></p>

                </div>

            </div>
            <div class="card">
                <img [src]="cups2" class="card-img-top" alt="mugs2">
                <div class="card-body">
                    <h5>Black Stainless Steel Cold Cup (473 Ml)</h5>

                    <p><small>Stylish, chic, and minimal all black cold cup to enjoy your ....</small></p>
                    <p style="font-weight:bolder;">₹ 2200.00<button class="btn btn-secondary" style="float: right;">Add
                            Item</button></p>

                </div>

            </div>
            <div class="card">
                <img [src]="cups3" class="card-img-top" alt="image3">
                <div class="card-body">
                    <h5>Green Cold Useable Cup Cup (710 Ml)</h5>

                    <p><small>Enjoy your cold beverage in this reusable coffee cup while b.....</small></p>
                    <p style="font-weight:bolder;">₹ 400.00<button class="btn btn-secondary" style="float: right;">Add
                            Item</button></p>

                </div>

            </div>
            <div class="card">
                <img [src]="cups4" class="card-img-top" alt="image4">
                <div class="card-body">
                    <h5>Butter Together Cold Cup - 473 ml</h5>

                    <p><small>Butter together themed cold cup having translucent colored l....</small></p>
                    <p style="font-weight:bolder;">₹ 1600.00<button class="btn btn-secondary" style="float: right;">Add
                            Item</button></p>

                </div>

            </div>

        </div>
        <br>
        <br>
        <div class="container">
            <h5>Tumblers</h5>
            <p>Functional range of stainless-steel tumblers with aesthetic designs..</p>
            <div class="card-deck">
                <div class="card">
                    <img [src]="tum1" class="card-img-top" alt="mugs1">
                    <div class="card-body">
                        <h5>Green Siren Stainless Steel Tumbler (473 Ml)</h5>
                        <p><small>The tumbler with classic siren Logo has a slim body which m.....</small></p>
                        <p style="font-weight:bolder;">₹ 2600.00<button class="btn btn-secondary"
                                style="float: right;">Add Item</button></p>

                    </div>

                </div>
                <div class="card">
                    <img [src]="tum2" class="card-img-top" alt="mugs2">
                    <div class="card-body">
                        <h5>Create Your Own Tumbler (473 Ml)</h5>

                        <p><small>Tumbler with a 'create your own' papercup insert. Make it un....</small></p>
                        <p style="font-weight:bolder;">₹ 800.00<button class="btn btn-secondary"
                                style="float: right;">Add Item</button></p>

                    </div>

                </div>
                <div class="card">
                    <img [src]="tum3" class="card-img-top" alt="image3">
                    <div class="card-body">
                        <h5>Red Holiday Plastic Tumbler - 355ml</h5>

                        <p><small>Joyful wrapping red double wall plastic insulated tumbler wi.....</small></p>
                        <p style="font-weight:bolder;">₹ 1200.00<button class="btn btn-secondary"
                                style="float: right;">Add Item</button></p>

                    </div>

                </div>
                <div class="card">
                    <img [src]="tum4" class="card-img-top" alt="image4">
                    <div class="card-body">
                        <h5>Nutcracker And Friends Tumbler - 473ml</h5>

                        <p><small>Thermo 3D Double wall vacuum nutcracker and friends themed t....</small></p>
                        <p style="font-weight:bolder;">₹ 2999.00<button class="btn btn-secondary"
                                style="float: right;">Add Item</button></p>

                    </div>

                </div>

            </div>
            <br>
            <br>
            <div class="container">
                <h5>Water Bottles</h5>
                <p>Contemporary Water Bottles with Starbucks design..</p>
                <div class="card-deck">
                    <div class="card">
                        <img [src]="water1" class="card-img-top" alt="mugs1">
                        <div class="card-body">
                            <h5>Cherry Blossom Moon Water Bottle - 384ml</h5>
                            <p><small>Double wall & Vacuum insulated water bottle with glossy pear....</small></p>
                            <p style="font-weight:bolder;">₹ 2800.00
                                <button class="btn btn-secondary" style="float: right;">Add Item</button>
                            </p>

                        </div>

                    </div>
                    <div class="card">
                        <img [src]="water2" class="card-img-top" alt="mugs2">
                        <div class="card-body">
                            <h5>Elephant and Giraffe Waterbottle - 590 ml</h5>

                            <p><small>Double Wall Structure Waterbottle with 304 Stainless Steel w....</small></p>
                            <p style="font-weight:bolder;">₹ 3550.00<button class="btn btn-secondary"
                                    style="float: right;">Add Item</button></p>

                        </div>

                    </div>
                    <div class="card">
                        <img [src]="water3" class="card-img-top" alt="image3">
                        <div class="card-body">
                            <h5>Butter Together Water Bottle - 473 ml</h5>

                            <p><small>Double wall, classic milk bottle shape water bottle paired w.....</small></p>
                            <p style="font-weight:bolder;">₹ 2900.00<button class="btn btn-secondary"
                                    style="float: right;">Add Item</button></p>

                        </div>

                    </div>
                    <div class="card">
                        <img [src]="water4" class="card-img-top" alt="image4">
                        <div class="card-body">
                            <h5>Colour Changing Water Bottle - 769mll</h5>

                            <p><small>Single wall 18/8 stainless steel, vacuum insulated water bot...</small></p>
                            <p style="font-weight:bolder;">₹ 2200.00<button class="btn btn-secondary"
                                    style="float: right;">Add Item</button></p>

                        </div>

                    </div>

                </div>
                <br>
                <br>
                <div class="container">
                    <h5>Stationary</h5>
                    <p>Souvenirs to treasure your favorite Starbucks memories..</p>
                    <div class="card-deck">
                        <div class="card">
                            <img [src]="station1" class="card-img-top" alt="mugs1">
                            <div class="card-body">
                                <h5>Set Of 3 Starbucks Notebooks</h5>
                                <p><small>Notebooks with Starbucks branding....</small></p>
                                <p style="font-weight:bolder;">₹ 925.00<button class="btn btn-secondary"
                                        style="float: right;">Add Item</button></p>

                            </div>

                        </div>
                        <div class="card">
                            <img [src]="station2" class="card-img-top" alt="mugs2">
                            <div class="card-body">
                                <h5>Starbucks Bearista Pen</h5>

                                <p><small>Carry your favorite little Starbucks bearista with you where.....</small></p>
                                <p style="font-weight:bolder;">₹ 300.00<button class="btn btn-secondary"
                                        style="float: right;">Add Item</button></p>

                            </div>

                        </div>
                        <div class="card" style="border:none">


                        </div>
                        <div class="card" style="border:none">


                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="container">
                        <h5>Cups</h5>
                        <p>Reusable Hot & Cold Cups that are perfect for beverages on the go..</p>
                        <div class="card-deck">
                            <div class="card">
                                <img [src]="access1" class="card-img-top" alt="mugs1">
                                <div class="card-body">
                                    <h5>Starbucks Bearista Keychain</h5>
                                    <p><small>Carry your favorite little Starbucks bearista with you where......</small>
                                    </p>
                                    <p style="font-weight:bolder;">₹ 350.00<button class="btn btn-secondary"
                                            style="float: right;">Add Item</button></p>

                                </div>

                            </div>
                            <div class="card">
                                <img [src]="access2" class="card-img-top" alt="mugs2">
                                <div class="card-body">
                                    <h5>Starbucks Crossbody Bag</h5>

                                    <p><small>Carry your go to essentials in this chic crossbody bag which.....</small>
                                    </p>
                                    <p style="font-weight:bolder;">₹ 1000.00<button class="btn btn-secondary"
                                            style="float: right;">Add Item</button></p>

                                </div>

                            </div>
                            <div class="card">
                                <img [src]="access3" class="card-img-top" alt="image3">
                                <div class="card-body">
                                    <h5>Starbucks Cup Clip</h5>

                                    <p><small>Carry your favorite little Starbucks bearista with you where....</small>
                                    </p>
                                    <p style="font-weight:bolder;">₹ 450.00
                                        <button class="btn btn-secondary" style="float: right;">Add Item</button>
                                    </p>

                                </div>

                            </div>
                            <div class="card">
                                <img [src]="access4" class="card-img-top" alt="image4">
                                <div class="card-body">
                                    <h5>Wild Flower Embroidery Coaster-2 piece set</h5>

                                    <p><small>Colorful & lovely flowers Textured fabric coaster..</small></p>
                                    <p style="font-weight:bolder;">₹ 725.00<button class="btn btn-secondary"
                                            style="float: right;">Add Item</button></p>

                                </div>

                            </div>

                        </div>
                        <br>
                        <br>
                        <app-footer></app-footer>