<div class="container">
    <i class="bi bi-geo-alt" style="color: whitesmoke;"></i> <input type="text" placeholder="No Store Selected"> <i
        class="bi bi-clock" style="color: whitesmoke;">00mins</i>

</div>
