<div class="container">
    <p>Home > order</p>

</div>
<div id="one">
    <app-search></app-search>

</div>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h5>Quick Bites</h5>
    <p>Starbucks snacks available on the go.</p>
    <div class="card-deck">
        <div class="card">
            <img [src]="ready1" class="card-img-top" alt="coffee1">
            <div class="card-body">
                <h5>Almond Biscotti</h5>
                <p><small>PER SERVE (50 g) - 409 kCal</small></p>
                <p><small>Delicious on its own or a perfect pairing with your favorite...</small></p>
                <p style="font-weight:bolder;">₹ 160.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="ready2" class="card-img-top" alt="coffee2">
            <div class="card-body">
                <h5>Embossed Chocolates</h5>
                <p><small>PER SERVE (100 g*) - Tiramisu 368 kcal</small></p>
                <p><small>A box of chocolates with 2 pieces each of Tiramisu, Dark cho...</small></p>
                <p style="font-weight:bolder;">₹ 695.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="ready3" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Roasted & Salted Almonds</h5>
                <p><small>PER SERVE (50 g) - 630.2 kCal</small></p>
                <p><small>Roasted and Salted Almonds a perfect pairing with your favorite... </small></p>
                <p style="font-weight:bolder;">₹ 180.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="ready4" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Roasted & Salted Cashews</h5>
                <p><small>PER SERVE (50 g) - 606.2 kCal</small></p>
                <p><small>Roasted and Salted Cashew a perfect pairing with your favorite...</small></p>
                <p style="font-weight:bolder;">₹ 180.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
</div>
<br>
<br>

<br>
<app-footer></app-footer>