<div class="container">
    <p>Home > order</p>

</div>
<div id="one">
    <app-search></app-search>

</div>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h5>Bestseller</h5>
    <p>Everyone's favorite Starbucks put together in a specially curated collection.</p>
    <div class="card-deck">
        <div class="card">
            <img [src]="coffee1" class="card-img-top" alt="coffee1">
            <div class="card-body">
                <h5>Java Chip Frappuccino</h5>
                <p><small>TALL(354 ML) .392 kcal</small></p>
                <p><small>We blend mocha sauce and Frappuccino® chips with Frappuccino...</small></p>
                <p style="font-weight:bolder;">₹ 367.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee2" class="card-img-top" alt="coffee2">
            <div class="card-body">
                <h5>Caffe Americano</h5>
                <p><small>SHORT(237 Ml) .0 kcal</small></p>
                <p><small>Rich in flavour, full-bodied espresso with hot water in true...</small></p>
                <p style="font-weight:bolder;">₹ 262.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee3" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Cold coffee</h5>
                <p><small>TALL(354 ML) .354 kcal</small></p>
                <p><small>Our signature rich in flavour espresso blended with delicate...</small></p>
                <p style="font-weight:bolder;">₹ 362.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee4" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Double Chocolate</h5>
                <p><small>TALL(354 ML) .415 kcal</small></p>
                <p><small>Rich mocha-flavored sauce meets up with chocolaty chips, mil...</small></p>
                <p style="font-weight:bolder;">₹ 399.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="coffee5" class="card-img-top" alt="coffee1">
            <div class="card-body">
                <h5>Creamy Spinach</h5>
                <p><small>PER SERVE (160 g) - 358 Kcal</small></p>
                <p><small>"A creamy spinach and corn filling encased in a buttery Fren...</small></p>
                <p style="font-weight:bolder;">₹ 246.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee6" class="card-img-top" alt="coffee2">
            <div class="card-body">
                <h5>Cappuccino</h5>
                <p><small>SHORT(237 ML) .104 Kcal</small></p>
                <p><small>Dark, Rich in flavour espresso lies in wait under a smoothed...</small></p>
                <p style="font-weight:bolder;">₹ 283.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee7" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Multigrain Croiss</h5>
                <p><small>PER SERVE (200 g) - 541 Kcal</small></p>
                <p><small>Fluffy egg white omlette and chicken ham sandwiched in multi...</small></p>
                <p style="font-weight:bolder;">₹ 383.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee8" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>New York Cheesecake</h5>
                <p><small>PER SERVE (150 g) - 485 Kcal</small></p>
                <p><small>"The Classic New York Cheese cake with a rich, creamy satiny...</small></p>
                <p style="font-weight:bolder;">₹ 404.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="coffee9" class="card-img-top" alt="coffee1">
            <div class="card-body">
                <h5>Butter Croissant</h5>
                <p><small>PER SERVE (75 g) - 255 Kcal</small></p>
                <p><small>"A flaky and buttery French style pastry served with butter.</small></p>
                <p style="font-weight:bolder;">₹ 288.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee10" class="card-img-top" alt="coffee2">
            <div class="card-body">
                <h5>Blueberry Muffin</h5>
                <p><small>PER SERVE (120 g) - 375.5 Kcal</small></p>
                <p><small>Buttery vanilla cake with berries dusted with granulated sug...</small></p>
                <p style="font-weight:bolder;">₹ 320.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee11" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Banana Cake</h5>
                <p><small>PER SERVE (125 g) - 385 Kcal</small></p>
                <p><small>English tea cake with rich taste of banana and chocolate</small></p>
                <p style="font-weight:bolder;">₹ 330.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="coffee12" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Chocolate Chip Cookie</h5>
                <p><small>PER SERVE (80 g) - 385.3 Kcal</small></p>
                <p><small>A soft & chewy chocolate cookie topped with chocolate chips ...</small></p>
                <p style="font-weight:bolder;">₹ 294.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>

</div>
<br>
<br>
<br>
<app-footer></app-footer>