<section class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Login</h2>
            <form class="was-validated" name="f1">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please enter a valid username.</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please enter a valid password.</div>
                </div>
                <p>Do not have account <a style="color:skyblue" [routerLink]="['/signup']">Signup here</a></p>
                <button type="submit" class="btn btn-primary" [routerLink]="['/order']">Submit</button>
            </form>
        </div>
    </div>
</section>
<script>
var n=document.f1.username.value;
var p=document.f1.password.value;
if((n=="")&&(p=="")){
    alert("Please fill out this field")
    return false;
}
else{
    return true;
}
    </script>
