#one{background-color:rgb(12, 71, 12); padding: 30px;}
h5{color:whitesmoke;font-family:italic;}
#two{float: right; border-radius: 10px;font-family: Georgia, 'Times New Roman', Times, serif;}

.jumbotron {
    background-image: url("src/assets/image/web_ab5a0057ab.jpg");
    background-size: cover;
    height: 400px;
    border-radius: 10px;
    color: azure;
}
.jumbotron:hover{
    
    color: rgb(23, 23, 55);
    
}