<div id="one">

    <div class="card-body">
        <h5>Rewards are pouring! signup now .......... <button  id="two" class="btn  btn-outline-success " style="color: whitesmoke;">know more</button></h5>

    </div>

</div>
<br>

<div class="container">
    <h2 style="color: rgb(17, 55, 17);">Handcrafted Curations</h2>
    <div class="row">
        <div class="col-md-2">
            <img [src]="bestseller" width="100px" [routerLink]="['/order']" >
            <div class="caption">
              <h6  >Best seller</h6>

            </div>

        </div>
        <div class="col-md-2">
            <img [src]="drinks" width="100px" [routerLink]="['/order']">
            <div class="caption">
                <h6>Drinks</h6>

            </div>

        </div>
        <div class="col-md-2">
            <img [src]="food" width="100px" [routerLink]="['/order']">
            <div class="caption">
                <h6>Food</h6>

            </div>

        </div>
        <div class="col-md-2">
            <img [src]="merchandise" width="100px" [routerLink]="['/order']">
            <div class="caption">
                <h6>Merchandise</h6>

            </div>

        </div>
        <div class="col-md-2">
            <img [src]="coffee" width="100px" [routerLink]="['/order']">
            <div class="caption">
                <h6>Coffee At Home</h6>

            </div>

        </div>
        <div class="col-md-2">
            <img [src]="ready" width="100pxpx" [routerLink]="['/order']">
            <div class="caption">
                <h6>Ready To Eat</h6>

            </div>

        </div>

    </div>

</div>
<br>
<br>
<br>
<div class="container">

    <div id="demo" class="carousel slide" data-ride="carousel">
        <!--indicators-->
       <!--<ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
        </ul>-->
        <!--slide show-->

        <div class="carousel-inner">
           <div class=" carousel-item active" width="100%" height="285px" style="background-color: orange;border-radius: 10px;">
                <img [src]="cake" style="height: 285px;">
                <div class="carousel-caption"  style="color:black">
                    <p>Indugle Today!</p>
                    <h3>Love At First Bite</h3>
                    <p>Embark on a delectable journey of bite-sized delights</p>
                    <p>Starting From</p>
                    <p style="font-weight: bolder;">M.R.P:160.oo</p>
                    <button class="btn btn-success" [routerLink]="['/order']">Order Now</button>

            </div>
            </div>
            <div class="carousel-item " width="100%" height="285px" style="background-color:burlywood;border-radius: 10px;">
                <img [src]="bottle" style="height:285px;">
                <div class="carousel-caption"  style="color:black">
                    <p>Beat The Heat With</p>
                    <h3>Bottled Frappuccino</h3>
                    <p>Buy any one Bottled Frappuccino & get Flat 50% off on the Second bottle of any variants offer applicable at the check out</p>
                    <p> For</p>
                    <p style="font-weight: bolder;">M.R.P:355.oo</p>
                    <button class="btn btn-success" [routerLink]="['/order']">Order Now</button>
                    </div>

            </div>
            <div class="carousel-item " width="100%" height="285px" style="background-color:darkgoldenrod;border-radius: 10px;">
                <img [src]="milk" style="height: 285px;">
                <div class="carousel-caption"  style="color:black">
                    <p>Attention Starbucks Fans</p>
                    <h3>Signature Milkshakes</h3>
                    <p>Staisfy your sweet tooth with our signature milkshake indulge today in these coffee-free versions</p>
                    <p>Starting From</p>
                    <p style="font-weight: bolder;">M.R.P:330.oo</p>
                    <button class="btn btn-success" [routerLink]="['/order']">Order Now</button>
                    </div>

            </div>
            <div class="carousel-item " width="100%" height="285px" style="background-color:darkgreen;border-radius: 10px;">
                <img [src]="chai" style="height:285px">
                <div class="carousel-caption"  style="color:whitesmoke">
                    <p>Go Desi With!</p>
                    <h3>Masala Chai</h3>
                    <p>Enjoy traditional masala chai with abundance of strong indian spices and flavourful handpicked tea</p>
                    <p> For</p>
                    <p style="font-weight: bolder;">M.R.P:283.oo</p>
                    <button class="btn btn-light" [routerLink]="['/order']">Order Now</button>
                    </div>

            </div>
            <div class="carousel-item " width="100%" height="285px" style="background-color:crimson;border-radius: 10px;">
                <img [src]="burger" style="height:285px">
                <div class="carousel-caption"  style="color:black">
                    <p>Presenting</p>
                    <h3>Freshly Assembled</h3>
                    <p>Savor the taste of our new handcrafted sandwishes .Freshness never tasted so good</p>
                    <p>Starting From</p>
                    <p style="font-weight: bolder;">M.R.P:350.oo</p>
                    <button class="btn btn-success" [routerLink]="['/order']" style="color:black">Order Now</button>
                    </div>

            </div>
            <div class="carousel-item " width="100%" height="285px" style="background-color:darkgreen;border-radius: 10px;">
                <img [src]="bonus" style="height:285px">
                <div class="carousel-caption"  style="color:snow">
                    <p>Special Offer</p>
                    <h3>DOUBLE STARS</h3>
                    <p> Double Your Stars on first 3 order placed through the app.Order from the wide menu range and enjoy </p>
                    <p>Starting From</p>
                    <p style="font-weight: bolder;">M.R.P:250.oo</p>
                    <button class="btn btn-light" [routerLink]="['/order']" style="color: black;">Order Now</button>
                    </div>

            </div>

        </div>
        <!--prev and nxt icon-->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>

        </a>


    </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h2>Learn more about the world of coffee</h2>
        <div class="jumbotron" >
            <h1>The Art And Science Of Sampling Coffee</h1>
            <p>Explore the world of coffee sampling Starbucks and uncover the art and science behind creating  the perfect cup </p>
            <button class="btn btn-light ">Learn More</button>
            
        </div>
       

    </div>
    <app-mainfooter></app-mainfooter>