<div class="container">
    <p>Home > order</p>

</div>
<div id="one">
    <app-search></app-search>

</div>
<div class="container">
    <app-sidenav></app-sidenav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <h5>Espresso</h5>
    <p>Our smooth signature Espresso Roast with rich flavor and caramelly sweetness is at the very heart of everything
        we do.</p>
    <div class="card-deck">
        <div class="card">
            <img [src]="drinks1" class="card-img-top" alt="drinks1">
            <div class="card-body">
                <h5>Caffe Americano</h5>
                <p><small>SHORT(237 Ml) .0 kcal</small></p>
                <p><small>Rich in flavour, full-bodied espresso with hot water in true...</small></p>
                <p style="font-weight:bolder;">₹ 262.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks2" class="card-img-top" alt="drinks2">
            <div class="card-body">
                <h5>Iced Mocha Cookie</h5>
                <p><small>TALL(Iced Tall Mocha Cookie Crumble) .</small></p>
                <p><small>A mix of cocoa powder, Vanilla flavour and espresso shot ser..</small></p>
                <p style="font-weight:bolder;">₹ 446.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks3" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Mocha Crumble Latte</h5>
                <p><small>SHORT(Short Mocha Cookie Crumble) .</small></p>
                <p><small>Our Mocha Cookie crumble Latte is a deliciously flavoured mo...</small></p>
                <p style="font-weight:bolder;">₹ 414.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks4" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Cappuccino</h5>
                <p><small>SHORT(237 ML) .104 Kcal</small></p>
                <p><small>Dark, Rich in flavour espresso lies in wait under a smoothed....</small></p>
                <p style="font-weight:bolder;">₹ 283.50
                    <button class="btn btn-secondary" style="float: right;">Add Item</button>
                </p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="drinks5" class="card-img-top" alt="drinks1">
            <div class="card-body">
                <h5>Caffe Latte</h5>
                <p><small>SHORT(Short Latte) .104 kcal</small></p>
                <p><small>Our dark, Rich in flavour espresso balanced with steamed mil..</small></p>
                <p style="font-weight:bolder;">₹ 288.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks6" class="card-img-top" alt="drinks2">
            <div class="card-body">
                <h5>Caramel Macchiato</h5>
                <p><small>SHORT(237 ML) .162 kcal</small></p>
                <p><small>Freshly steamed milk with vanilla-flavored syrup is marked w...</small></p>
                <p style="font-weight:bolder;">₹ 351.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks7" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Caffè Mocha</h5>
                <p><small>SHORT(237 ML) .232 kcal</small></p>
                <p><small>We combine our Rich in flavour, full-bodied espresso with bi....</small></p>
                <p style="font-weight:bolder;">₹ 330.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks8" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Chocolate Cappuccino</h5>
                <p><small>SHORT(237 ML) .150 kcal</small></p>
                <p><small>Dark, Rich in flavour espresso and bittersweet cocoa lies in....</small></p>
                <p style="font-weight:bolder;">₹ 357.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="drinks9" class="card-img-top" alt="drinks1">
            <div class="card-body">
                <h5>Chocolate Cortado</h5>
                <p><small>PER SERVE (120 ML) - 88 Kcal</small></p>
                <p><small>A perfect espresso shot and mocha sauce, topped with steamed...</small></p>
                <p style="font-weight:bolder;">₹ 341.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks10" class="card-img-top" alt="drinks2">
            <div class="card-body">
                <h5>Cortado</h5>
                <p><small>PER SERVE (120 ML) - 72 Kcal</small></p>
                <p><small>A perfect espresso shot topped with steamed milk....</small></p>
                <p style="font-weight:bolder;">₹ 283.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks11" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Doppio Espresso</h5>
                <p><small>PER SERVE (45 ML) - 0 Kcal</small></p>
                <p><small>Our smooth signature Espresso Roast and its caramelly sweetn...</small></p>
                <p style="font-weight:bolder;">₹ 267.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks12" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Flat White</h5>
                <p><small>SHORT(237 ML) .104 kcal</small></p>
                <p><small>Expertly steamed milk poured over shots of ristretto and fin..</small></p>
                <p style="font-weight:bolder;">₹ 351.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="drinks13" class="card-img-top" alt="drinks1">
            <div class="card-body">
                <h5>Hazelnut Cortado</h5>
                <p><small>PER SERVE (120 ML) - 76 Kcal</small></p>
                <p><small>A perfect espresso shot and hazelnut syrup, topped with stea....</small></p>
                <p style="font-weight:bolder;">₹ 341.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks14" class="card-img-top" alt="drinks2">
            <div class="card-body">
                <h5>Iced Caffè Americano</h5>
                <p><small>TALL(354 ML) .0 kcal</small></p>
                <p><small>Espresso shots are topped with water to produce a light laye....</small></p>
                <p style="font-weight:bolder;">₹ 294.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks15" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Iced Caffè Latte</h5>
                <p><small>TALL(354 ML) .122 kcal</small></p>
                <p><small>Our dark, Rich in flavour espresso is combined with milk and....</small></p>
                <p style="font-weight:bolder;">₹ 320.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks16" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Iced Caffè Mocha</h5>
                <p><small>TALL(354 ML) .291 kcal</small></p>
                <p><small>Espresso combined with bittersweet mocha sauce and milk and ....</small></p>
                <p style="font-weight:bolder;">₹ 362.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>

    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="drinks17" class="card-img-top" alt="drinks1">
            <div class="card-body">
                <h5>Iced Cappuccino</h5>
                <p><small>TALL(354 ML) .214 kcal</small></p>
                <p><small>Signature Italian style Cappuccino with espresso shot, steam....</small></p>
                <p style="font-weight:bolder;">₹ 315.00
                    <button class="btn btn-secondary" style="float: right;">Add Item</button>
                </p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks18" class="card-img-top" alt="drinks2">
            <div class="card-body">
                <h5>Iced Chocolate Cappuccino</h5>
                <p><small>TALL(354 ML) .161 kcal</small></p>
                <p><small>Signature Italian style Cappuccino with espresso shot, mocha....</small></p>
                <p style="font-weight:bolder;">₹ 388.50<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks19" class="card-img-top" alt="image3">
            <div class="card-body">
                <h5>Solo Espresso</h5>
                <p><small>PER SERVE (22.5 ML) - 0 Kcal</small></p>
                <p><small>Our smooth signature Espresso Roast and its caramelly sweetn....</small></p>
                <p style="font-weight:bolder;">₹ 252.00<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks20" class="card-img-top" alt="image4">
            <div class="card-body">
                <h5>Vanilla Cortado</h5>
                <p><small>PER SERVE (120 ML) - 0 Kcal</small></p>
                <p><small>A perfect espresso shot and vanilla syrup topped with steame....</small></p>
                <p style="font-weight:bolder;">₹ 341.25<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="card-deck">
        <div class="card">
            <img [src]="drinks21" class="card-img-top" alt="drinks1">
            <div class="card-body">
                <h5>Velvet Vanilla Latte</h5>
                <p><small>SHORT(237 ML) .280 kcal</small></p>
                <p><small>Our dark, Rich in flavour espresso balanced with vanilla fla...</small></p>
                <p style="font-weight:bolder;">₹ 388.50
                    <button class="btn btn-secondary" style="float: right;">Add Item</button>
                </p>

            </div>

        </div>
        <div class="card">
            <img [src]="drinks22" class="card-img-top" alt="drinks2">
            <div class="card-body">
                <h5>White Chocolate Mocha</h5>
                <p><small>SHORT(237 ML) .252 kcal</small></p>
                <p><small>Our signature espresso meets white chocolate sauce and steam...</small></p>
                <p style="font-weight:bolder;">₹ 330.75<button class="btn btn-secondary" style="float: right;">Add
                        Item</button></p>

            </div>

        </div>
        <div class="card" style="border: none;">


        </div>
        <div class="card" style="border: none;">

        </div>

    </div>





</div>
<br>
<br>
<br>
<app-footer></app-footer>