<footer style="background-color: rgb(16, 49, 16);color: whitesmoke;">
    <div class="container">
    <div class="row">
        <div class="col" style="margin-top: 25px;">
            <img [src]="star" width="75px" height="75px">

        </div>
        <div class="col"  style="margin-top: 25px;">
        <h4>About Us</h4>
            <br>
            <p>Our Heritage</p>
            <p>Our Company</p>
            <p>Coffee House</p>

        </div>
        <div class="col" style="margin-top: 25px;">
            <h4>Responsibility</h4>
            <br>
            <p>Community</p>
            <p>Ethical Sourcing</p>
            <p>Environment</p>
            <p>Diversity</p>

        </div>
        <div class="col" style="margin-top: 25px;">
            <h4>Quick Links</h4>
            <br>
            <p>Delivery</p>
            <p>Season's Gifting</p>
            <p>Career's</p>
            <p>Customer Service</p>
            <p>FAQs</p>

        </div>
        <div class="col" style="margin-top: 25px;">
            <h4>Social Media</h4>
            <br>
            
            <h3><i class="bi bi-instagram"></i>&nbsp;&nbsp;&nbsp;
            
            <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;
            
            <i class="bi bi-twitter"></i></h3>
         </div>
         <div class="col" style="margin-top: 25px;">
            <img [src]="and">
            <img [src]="ios">

         </div>
         <br>
         <br>
         <br>
         <hr>
         <div style="margin-bottom: 45px;font-size: smaller;">
            <p>Web Accesbility | Privacy Statement | Terms Of Use | Contact Us
            <small style="position: relative;right: -600px;">@2023 Starbucks Coffee Company.All rights reserved </small></p>
        </div>
            
         
         
        


    </div>
    
    </div>

</footer>
