<div class="container">
  <h2>Store Location </h2>
  <form>
    <div class="form-group">
      <label for="storeName">Store Name</label>
      <input type="text" class="form-control" id="storeName" placeholder="Enter store name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Enter address">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter city">
      </div>
      <div class="form-group col-md-6">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" placeholder="Enter state">
      </div>
    </div>
    <div class="form-group">
      <label for="zip">ZIP Code</label>
      <input type="text" class="form-control" id="zip" placeholder="Enter ZIP code">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Enter country">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
