


#one{background-color: rgb(17, 55, 18);height: 100px;padding-top: 25px;}

.navbar-nav .nav-link:hover {
    color:rgb(17, 55, 18)
  }
  input{
    background-color: transparent;
    width: 300px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
  }
 ::placeholder{
  color: whitesmoke;
 }
