<div class="container">
<nav class="navbar navbar-expand-md bg-light navbar-success">
    <ul class="navbar-nav">
       
        
       <a class="navbar-brand"><img [src]="starbucks" width="50px" height="50px" style="margin-top: 10px;"></a>
       
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/gift']">Gift</a>

       </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/order']">Order</a>

       </li>
       <li class="nav-item">
        <a class="nav-link"[routerLink]="['/pay']">Pay</a>

       </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/store']"></a>

       </li>
    
       <li class="nav-item" id="log">
        <a class="nav-link" [routerLink]="['/login']">Login</a>

       </li>


    </ul>
    </nav>
 </div>
 <router-outlet></router-outlet>


